<%- partial('partial/header') %>

<header class="main-header no-cover">
    <%- partial('partial/navigator') %>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">文章归档</h1>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
<main class="content" role="main">
    <article class="post">
        <%
            var years = {};
            site.posts.sort('date').reverse().forEach(function(post) {
                var year = post.date.year()
                if(years[year]===undefined){
                    years[year] = [];
                }
                years[year].push(post);
            });
        %>
        <% Object.keys(years).reverse().forEach(function(year) { %>
        <div>
            <span><%= year %></span>
            <ul>
                <% years[year].map(function(post) {  %>
                <li >
                    <span><%= post.date.format('MM-DD') %></span>
                    <a href="<%- config.url %>/<%- post.path %>"><%- post.title || "Untitled" %></a>
                </li>
                <% }) %>
            </ul>
        </div>
        <% }); %>
    </article>
</main>

<%- partial('partial/footer') %>
