<% thumbnail = config.url + '/images/posts/' + page.thumbnail %>
<%- partial('partial/header') %>

<% if (page.thumbnail) { %>
<header class="main-header post-head" style="background-image: url(<%= thumbnail %>)">
<% } else { %>
<header class="main-header post-head no-cover">
<% } %>
    <%- partial('partial/navigator') %>
</header>
<main class="content" role="main">
    <article class="post">

        <header class="post-header">
            <h1 class="post-title"><%= page.title %></h1>
            <section class="post-meta">
                <span><%= config.author %></span>
                <time class="post-date" datetime="<%- date(page.date) %>"><%- date(page.date) %></time>
            </section>
        </header>

        <section class="post-content">
            <%- page.content %>
        </section>

        <footer class="post-footer">
            <!--  -->
        </footer>
    </article>
</main>

<div class="comments">
    <div id="disqus_thread"></div>
</div>

<aside class="read-next">
    <% if (page.prev) { %>
    <% if (page.prev.thumbnail) { %>
    <a class="read-next-story" style="background-image: url(<%= config.url + '/images/posts/' + page.prev.thumbnail %>)" href="<%= config.url %>/<%- page.prev.path %>">
    <% } else { %>
    <a class="read-next-story no-cover" href="<%= config.url %>/<%- page.prev.path %>">
    <% } %>
        <section class="post">
            <h2><%= page.prev.title %></h2>
        </section>
    </a>
    <% } %>

    <% if (page.next) { %>
    <% if (page.next.thumbnail) { %>
    <a class="read-next-story" style="background-image: url(<%= config.url + '/images/posts/' + page.next.thumbnail %>)" href="<%= config.url %>/<%- page.next.path %>">
    <% } else { %>
    <a class="read-next-story no-cover" href="<%= config.url %>/<%- page.next.path %>">
    <% } %>
        <section class="post">
            <h2><%= page.next.title %></h2>
        </section>
    </a>
    <% } %>


</aside>
<%- partial('partial/footer') %>
